<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <!-- bredcrumb Area Start-->
        <section class="breadcrumb-area">
            <div class="banner-bg-img"></div>
            <div class="banner-shape-1">
                <img src="assets/img/banner/shape-1.png" alt="img" />
            </div>
            <div class="banner-shape-2">
                <img src="assets/img/banner/shape-2.png" alt="img" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 align-self-center">
                        <div class="banner-inner text-center">
                            <h3>Cart</h3>
                            <h1>Review order</h1>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- bredcrumb Area End -->

        <!-- cart area start -->
        <div id="cart-item-list" class="cart-area pd-top-120 pd-bottom-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="table-responsive mb-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="blank"></th>
                                        <th class="blank"></th>
                                        <th class="blank"></th>
                                        <th class="title-name">Item</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(cartItems) {%>
                                        <%cartItems.forEach((foodItem)=>{%>
                                            <tr>
                                                <td class="table-close-btn">
                                                    <button class="delete-cart-item" delItemId="<%=foodItem.item._id%>">
                    <i class="ri-close-line"></i>
                  </button>
                                                </td>
                                                <th scope="row">
                                                    <img src="<%=foodItem.item.img%>" alt="img" />
                                                </th>
                                                <td colspan="2" class="item-name">
                                                    <div class="details">
                                                        <h5>
                                                            <%=foodItem.item.name%>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>$
                                                    <%=parseFloat(foodItem.price).toFixed(2)%>
                                                </td>
                                                <td class="table-quantity">
                                                    <form>
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="minus" decItemId="<%=foodItem.item._id%>" />
                                                            <input type="number" class="input-text qty text" step="1" min="1" max="10000" name="quantity" value="<%=foodItem.quantity%>" />
                                                            <input type="button" value="+" class="plus" incItemId="<%=foodItem.item._id%>" />
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>$
                                                    <%=parseFloat(foodItem.price).toFixed(2)%>
                                                </td>
                                            </tr>
                                            <% })%>
                                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="promotional-area">
                            <form class="default-form-wrap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order-cart-area">
                            <div class="order-cart">
                                <h5>Cart Totals</h5>
                                <ul>
                                    <li>Total<span>$<%=parseFloat(totalPrice).toFixed(2)%></span></li>
                                </ul>
                            </div>
                            <a class="btn btn-secondary w-100" href="/checkout">PLACE ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart area end -->

        <%- include("./partials/footer.ejs") %>