<%- include("./partials/nav.ejs") %>
    <%- include("./partials/head.ejs") %>
        <div class="container-scroller" id="order-status">
            <!-- partial:partials/_navbar.html -->

            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <%- include("./partials/side.ejs") %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="row purchace-popup">
                                <div class="col-12 stretch-card grid-margin">
                                    <div class="card card-secondary">
                                        <span class="card-body d-lg-flex align-items-center">
                <p class="mb-lg-0">Notifications...</p>
                <button class="close popup-dismiss ml-2">
                  <span aria-hidden="true">&times;</span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Current Orders</h4>
                                            <p class="card-description"></p>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Order #</th>
                                                        <th>Customer Name</th>
                                                        <th>Total Charge</th>
                                                        <th>Accept/Reject</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%if(orders) {%>
                                                        <%orders.forEach((orderItem)=>{%>
                                                            <tr>
                                                                <td>
                                                                    <%=orderItem._id.slice(0,6)%>
                                                                        <!-- <%=parseInt((orderItem._id).valueOf(), 11)%>-->
                                                                </td>
                                                                <td>
                                                                    <%=orderItem.currentUser.firstname%>
                                                                        <%=orderItem.currentUser.lastname%>
                                                                </td>
                                                                <td>
                                                                    <label class="badge badge-success">$<%=parseFloat(orderItem.cart.totalPrice).toFixed(2)%></label
                        >
                      </td>
                      <td>
                        <fieldset>
                          <input
                            type="button"
                            value="Accept"
                            onclick="alert('Order Accepted!')"
                          />/
                          <input
                            type="button"
                            value="Reject"
                            onclick="alert('Order Rejected!')"
                          />
                        </fieldset>
                      </td>
                      <td><%=orderItem.cart.date.substring(0,15)%></td>
                      <td><%=orderItem.cart.date.substring(16,25)%></td>
                    </tr>

                    <% })%> <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <%- include("./partials/foot.ejs") %>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/moment/moment.min.js"></script>
<script src="/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/vendors/chartist/chartist.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/js/dashboard.js"></script>
<!-- End custom js for this page -->