<%- include("./partials/head.ejs") %>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include("./partials/nav.ejs") %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                <%- include("./partials/side.ejs") %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Orders</h4>
                                            <p class="card-description"></p>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Order No.</th>
                                                        <th>Customer Name</th>
                                                        <th>Total Charge</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%if(orders) {%>
                                                        <%orders.forEach((orderItem)=>{%>
                                                            <tr>
                                                                <td>
                                                                    <%=parseInt((orderItem._id).valueOf(), 11)%>
                                                                </td>
                                                                <td>
                                                                    <%=orderItem.currentUser.firstname%>
                                                                        <%=orderItem.currentUser.lastname%>
                                                                </td>
                                                                <td>
                                                                    <label class="badge badge-success">$<%=parseFloat(orderItem.cart.totalPrice).toFixed(2)%></label
                        >
                      </td>
                      <td><%=orderItem.cart.date.substring(0,15)%></td>
                      <td><%=orderItem.cart.date.substring(16,25)%></td>
                    </tr>
                    <% })%> <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->

      <!-- partial:../../partials/_footer.html -->

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  <%- include("./partials/foot.ejs") %>
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="./vendors/chart.js/Chart.min.js"></script>
<script src="./vendors/moment/moment.min.js"></script>
<script src="./vendors/daterangepicker/daterangepicker.js"></script>
<script src="./vendors/chartist/chartist.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="./js/dashboard.js"></script>
<!-- End custom js for this page -->